{% extends "layout.html" %}
{% block content %}

<div class="search-container">
    <input type="text" class="search-input"
        placeholder="Search..."
        name="search"

        hx-get="/search_games"
        hx-target=".games-grid"
        hx-swap="outerHTML"
        hx-trigger="input changed delay:500ms"
        hx-select=".games-grid"
        hx-include="this">

    <button
        class="add-button"
        hx-get="/add_game_form"
        hx-target="#modal"
        hx-swap="innerHTML">
        + Add Game
    </button>
</div>
<div class="games-grid">
    {% for game in games %}
    <div class="game-image-container" onclick="window.location='/games/{{game.id}}'">
        <img src="{{ game.image_path }}" class="game-image">
        <div class="overlay">
            <h1 style="color: white;">{{ game.title }}</h1>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}