{% extends "layout.html" %}
{% block content %}

<div class="user-profile">

    <!-- User Header -->
    <div class="profile-header">
        <img class="user-icon-large" src="{{ user.image_path }}" alt="profile picture">

        <div class="user-info">
            <h2>{{ user.username }}</h2>
            {% if user.bio %}
                <p style="color: rgb(215, 215, 215);" class="user-bio">{{ user.bio }}</p>
            {% endif %}
        </div>
    </div>

    <hr>

    <!-- User Reviews -->
    <h3>Reviews</h3>

    <div class="posts">
        {% for review in reviews %}
            {% include "review_layout.html" %}
        {% endfor %}
    </div>

</div>

{% endblock content %}